body{
    color: #491665;
    opacity: 0.8;
    font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', 'Ubuntu', 'Droid Sans', sans-serif;
}

@media (prefers-color-scheme: light) {
    body {
        color: #fff;
    }
}

.titleBar h2 {
    font: inherit;
    text-align: center;
    color: white;
    font-size: 15px;
}

.html-popup{
    user-select: none;
}

.mainInfo{
    color: black;
    font-size: 0.8rem;
    opacity: 0.4;
}

.main h1{
    opacity: 0.9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
}
