body{
    color: #491665;
    opacity: 0.8;
    font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', 'Ubuntu', 'Droid Sans', sans-serif;
}

@media (prefers-color-scheme: light) {
    body {
        color: #fff;
    }
}

.titleBar h2 {
    font: inherit;
    text-align: center;
    color: white;
    font-size: 15px;
}

.html-popup{
    user-select: none;
}

.mainInfo{
    color: black;
    font-size: 0.8rem;
    opacity: 0.4;
}

a{
    text-decoration: none;
    color: #8F789C;
}

.mainText{
    font-size: 15px;
    opacity: 0.6;
    font-weight: bold;
}

a span {
    font-size: 20px;
    text-transform: uppercase;
    mix-blend-mode: darken;
    padding: 5px 16px;
    letter-spacing: 1px;
    text-decoration: none;
}
.main h1{
    opacity: 0.9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
}
